body {
    width: 100%;
    min-height: 100vh;
}

.first_screen_container {
  position: relative;
  display:block;
  width: 100vmax;
  height: 100vh; 
}

.second_screen_container {
  position: relative;
  background-color: black;
  display: block;
  width: 100vmax;
  height: 100vh; 
}

.third_screen_container {
  position: relative;
  background-color: bisque;
  display: block;
  width: 100vmax;
  height: 100vh; 
}

.fourth_screen_container {
  position: relative;
  background-color: black;
  display: block;
  width: 100vmax;
  height: 100vh; 
}

.fifth_screen_container {
  position: relative;
  background-color: #5546FF;
  display: block;
  width: 100vmax;
  height: 100vh; 
}

.shmulik_1 {
  height: 50vh;
}

/* ПЕРВЫЙ БЛОК КОНТЕНТ */
/* ПЕРВЫЙ БЛОК КОНТЕНТ */
/* ПЕРВЫЙ БЛОК КОНТЕНТ */

.shapka {
  position: absolute;
  width: 100vmax;
  height: 8.9vh;
}

.vl {
  position: relative;
  left: 28.3vmax;
  border-left: 2px solid black;
  height: 8.9vh;
}

.hr1 {
  position: relative;
  top: 8.9vh;
  border-top: 2px solid black;
  margin: 0;
}

.logo {
  position: absolute;
  top: 2.4vh;
  left: 2.2vmax;
}