body {
    width: 100%;
    min-height: 100vh;
    max-width: 100%;
}

.first_screen_container {
  position: relative;
  display:block;
  width: 100vmax;
  height: 100vh; 
}

.second_screen_container {
  position: relative;
  background-color: black;
  display: block;
  width: 100vmax;
  height: 100vh; 
}

.third_screen_container {
  position: relative;
  display: block;
  width: 100vmax;
  height: 100vh; 
}

.fourth_screen_container {
  position: relative;
  background-color: black;
  display: block;
  width: 100vmax;
  height: 100vh; 
}

.fifth_screen_container {
  position: relative;
  background-color: #5546FF;
  display: block;
  width: 100vmax;
  height: 100vh; 
}

.shmulik_1 {
  height: 50vh;
}

/* ---------------------------------------------------ПЕРВЫЙ БЛОК КОНТЕНТ ------------------------------------------------------*/
/* ---------------------------------------------------ПЕРВЫЙ БЛОК КОНТЕНТ ------------------------------------------------------*/
/* ---------------------------------------------------ПЕРВЫЙ БЛОК КОНТЕНТ ------------------------------------------------------*/
/* ---------------------------------------------------ПЕРВЫЙ БЛОК КОНТЕНТ ------------------------------------------------------*/

.shapka {
  position: absolute;
  width: 100vmax;
  height: 8.9vh;
}

.vl {
  position: relative;
  left: 28.3vmax;
  border-left: 2px solid black;
  height: 8.9vh;
}

.hr1 {
  position: relative;
  top: 8.9vh;
  border-top: 2px solid black;
  margin: 0;
}

.logo {
  position: absolute;
  width: 40vh;
  top: 2.3vh;
  left: 4vmax;
}

.kb {
  position: absolute;
  top: 0.9vh;
  right: 65vh;
  line-height: 1.4;
  font-family: Random Grotesque Standard Medium;
  font-weight: 500;
  font-size: 2.4vh;
}

.ys {
  position: absolute;
  top: 0.9vh;
  right: 35vh;
  line-height: 1.4;
  font-family: Random Grotesque Standard Medium;
  font-weight: 500;
  font-size: 2.4vh;
}

.hseart {
  position: absolute;
  top: 0.9vh;
  right: 5vh;
  line-height: 1.4;
  font-family: Random Grotesque Standard Medium;
  font-weight: 500;
  font-size: 2.4vh;
}

.first_meet {
  position: relative;
  top: 8.9vh;
  width: 100vmax;
  height: 91.1vh;
}

.new_techno {
  position: relative;
  left: 40vmax;
  top: 6%;
  line-height: 1.4;
  font-family: Random Grotesque Standard Medium;
  font-weight: 500;
  font-size: 2.4vh;
}

._2 {
  position: relative;
  left: 7.5%;
}

._3 {
  position: relative;
  left: 2%;
}

.intro {
  position: relative;
  top: 8vh;
  display: block;
  align-content: center;
  margin: 0 auto;
}

.mazertong {
  position: relative;
  text-align: center;
  font-family: Random Grotesque Standard Bold;
  font-weight: 700;
  font-size: 21.6vh;
}

.lettering {
  font-family: Nokwy;
  font-weight: 400;
  font-size: 21.6vh;
  color:#5546FF;
}

.lettering2 {
  font-family: Nokwy;
  font-weight: 400;
  font-size: 21.6vh;
}

.description {
  position: relative;
  text-align: left;
  max-width: 60vmax;
  margin: 0 auto;
  font-family: Random Grotesque Standard Medium;
  font-weight: 500;
  font-size: 3.6vh;
  line-height: 1.4;
}

.major_breakthrough {
  position: relative;
  left: 5vmax;
  top: 15%;
  line-height: 1.4;
  font-family: Random Grotesque Standard Medium;
  font-weight: 500;
  font-size: 2.4vh;
}

._one {
  position: relative;
}

._two {
  position: relative;
  left: 2%;
}

._three {
  position: relative;
  left: 4%;
}

.sticker {
  display: inline-block;
  position: relative;
  left: 77vmax;
  bottom: 15vh;
}

.sticker_form {
  width: 35vh;
}

.circle_txt {
  position: relative;
  width: 30vh;
  right: 33vh;
  bottom: 3vh;
}

.p {
  position: relative;
  bottom: 23vh;
  right: 15vh;
  font-family: Random Grotesque Standard Medium;
  font-weight: 500;
  font-size: 4.3vh;
  text-align: center;

}

.arrows {
  position: relative;
  width: 12vh;
  left: 12vmax;
  bottom: 26vh;
}
/* ---------------------------------------------------ВТОРОЙ БЛОК КОНТЕНТ ------------------------------------------------------*/
/* ---------------------------------------------------ВТОРОЙ БЛОК КОНТЕНТ ------------------------------------------------------*/
/* ---------------------------------------------------ВТОРОЙ БЛОК КОНТЕНТ ------------------------------------------------------*/
/* ---------------------------------------------------ВТОРОЙ БЛОК КОНТЕНТ ------------------------------------------------------*/

.mazertongueeto {
  position: relative;
  top: 0vh;
  left: 2vmax;
  font-family: Random Grotesque Standard Medium;
  font-weight: 500;
  font-size: 13.8vh;
  color: white;
}

.exclusivny {
  position: relative;
  top: 0vh;
  left: 37vmax;
  font-family: Random Grotesque Standard Medium;
  font-weight: 500;
  font-size: 13.8vh;
  color: white;
}

.sposobmenyat {
  position: relative;
  top: 0vh;
  left: 2vmax;
  font-family: Random Grotesque Standard Medium;
  font-weight: 500;
  font-size: 13.8vh;
  color: white;
}

.sposobkrivoi1 {
  display: none;;
}

.privprav {
  position: relative;
  top: 0vh;
  left: 37.4vmax;
  font-family: Random Grotesque Standard Medium;
  font-weight: 500;
  font-size: 13.8vh;
  color: white;
}

.privpravkrivoi {
  display: none;
}

.communicazii {
  position: relative;
  top: 0vh;
  left: 12vmax;
  font-family: Random Grotesque Standard Medium;
  font-weight: 500;
  font-size: 13.8vh;
  color: white;
}

.mypro {
  position: relative;
  bottom: 14vh;
  left: 76vmax;
  font-family: Random Grotesque Standard Medium;
  font-weight: 500;
  font-size: 13.8vh;
  color: white;
}


.igra {
  position: relative;
  bottom: 13.5vh;
  left: 2vmax;
  font-family: Random Grotesque Standard Medium;
  font-weight: 500;
  font-size: 13.8vh;
  color: white;
}

.igrakrivoi {
  display: none;
}

.poryadki {
  position: relative;
  bottom: 14vh;
  left: 50vmax;
  font-family: Random Grotesque Standard Medium;
  font-weight: 500;
  font-size: 13.8vh;
  color: white;
}

/* ---------------------------------------------------ТРЕТИЙ БЛОК КОНТЕНТ ------------------------------------------------------*/
/* ---------------------------------------------------ТРЕТИЙ БЛОК КОНТЕНТ ------------------------------------------------------*/
/* ---------------------------------------------------ТРЕТИЙ БЛОК КОНТЕНТ ------------------------------------------------------*/
/* ---------------------------------------------------ТРЕТИЙ БЛОК КОНТЕНТ ------------------------------------------------------*/

