@font-face {
  font-family: 'Nokwy';
  font-style: normal;
  font-weight: 400;
  src:  local("Nokwy Regular"),
        local("Nokwy-Regular"),
        url("../fonts/Nokwy-Regular.woff2") format('woff2'),
        url("../fonts/Nokwy-Regular.woff") format('woff'),
        url("../fonts/Nokwy-Regular.eot") format('eot');
  font-display: fallback;
}

@font-face {
  font-family: 'Random Grotesque';
  font-style: normal;
  font-weight: 500;
  src:  local("RG Standard Medium"),
        local("RG-StandardMedium"),
        url("../fonts/RG-StandardMedium.woff2") format('woff2'),
        url("../fonts/RG-StandardMedium.woff") format('woff'),
        url("../fonts/RG-StandardMedium.eot") format('eot');
  font-display: fallback;
}

@font-face {
  font-family: 'Random Grotesque';
  font-style: normal;
  font-weight: 700;
  src:  local("RG Standard Bold"),
        local("RG-StandardBold"),
        url("../fonts/RG-StandardBold.woff2") format('woff2'),
        url("../fonts/RG-StandardBold.woff") format('woff'),
        url("../fonts/RG-StandardBold.eot") format('eot');
  font-display: fallback;
}
