@font-face {
  font-family: "Nokwy";
  src: url("../fonts/Nokwy-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Random Grotesque Standard Bold";
  src: url("../fonts/RG-StandardBold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Random Grotesque Standard Medium";
  src: url("../fonts/RG-StandardMedium.ttf");
  font-weight: 500;
}
